<%= form_for(@nome) do |f| %>
  <% if @nome.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nome.errors.count, "error") %> prohibited this nome from being saved:</h2>

      <ul>
      <% @nome.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :idade %><br>
    <%= f.number_field :idade %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :msg %><br>
    <%= f.text_area :msg %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
