<h1>Listing nomes</h1>

<table>
  <thead>
    <tr>
      <th>Idade</th>
      <th>Email</th>
      <th>Msg</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nomes.each do |nome| %>
      <tr>
        <td><%= nome.idade %></td>
        <td><%= nome.email %></td>
        <td><%= nome.msg %></td>
        <td><%= link_to 'Show', nome %></td>
        <td><%= link_to 'Edit', edit_nome_path(nome) %></td>
        <td><%= link_to 'Destroy', nome, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nome', new_nome_path %>
